nav {
    display: grid;
}
nav a {
    align-self: center;
    justify-self: center;
    width: 50%;
    display: block;
    margin: auto;
}
    
header #logo{
    width: 85px;
    height: 55px;
    margin: auto;
    margin-left: -5px;
}

section{
    margin: 30px;
}
main {
    width: 80%;
    margin: auto;
}
.card{
  margin-bottom: 20px;
}

.tags{
  display: inline-block;
}


#titleTextarea {
    margin-left: 5px;
 }

#sortSection{
  display: inline-block;
  
}
.fa-user-astronaut{
    color: #fff;
    
}
.fa-home{
    color: #fff;
}

#modalComments {
    width: 80%;
    margin-left: 15px;
}
.userprofilename {
    margin-top: 25px;
}


@media only screen and (max-width) {

}