nav {
    display: grid;
}
nav a {
    align-self: center;
    justify-self: center;
    width: 30%;
    display: block;
    margin: auto;
}
.navbar-brand {
    margin: auto;
    justify-self: center;
    margin-left: -8px;
    
}
header #logo{
    width: 85px;
    height: 55px;
    margin: auto;
    
    
}

section{
    margin: 30px;
}
main {
    width: 80%;
    margin: auto;
}
.card{
  margin-bottom: 20px;
}

.tags{
  display: inline-block;
}


#titleTextarea {
    margin-left: 5px;
 }

#sortSection{
  display: inline-block;
  
}
.fa-user-astronaut{
    color: #fff;
    
}
.home {
    display: inline-block;
    width: 20%;
}
.fa-home{
    color: #fff;
   
}

#modalComments {
    width: 80%;
    margin-left: 15px;
}
.userprofilename {
    margin-top: 25px;
}



@media only screen and (max-width: 700px) {
    nav {
        width: 100%;
        margin: 0px;
    }
    nav a, .fa-user-astronaut {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    nav a:hover, .fa-user-astronaut:hover {
        cursor: pointer;
    }
    header {
        padding: 0px;
    }
}