body {}

nav {
    display: grid;
}
nav a {
    align-self: center;
    justify-self: center;
    width: 50%;
    display: block;
    margin: auto;
}
    
header #logo{
    width: 85px;
    height: 55px;
    margin: auto;
    margin-left: -5px;
}

main {
    width:70%;
    margin: auto;
    margin-top: 60px;

}
.btn-primary {
    margin-top: 25px;
    display: block;
}
