nav {
   
    
}
nav a {
   
    width: 30%;
    display: block;
   
}
.navbar-brand {
    margin: auto;
    justify-self: center;
    
    
}
header #logo{
    width: 85px;
    height: 55px;
    margin: auto;
    
    
}

section{
    margin: 30px;
}
main {
    width: 80%;
    margin: auto;
}
.card{
  margin-bottom: 20px;
}

.tags{
  display: inline-block;
}


#titleTextarea {
    margin-left: 5px;
 }

#sortSection{
  display: inline-block;
  
}
.fa-user-astronaut{
    color: #fff;
    
}
.home {
    
    
   
}
.fa-home{
    color: #fff;

    
   
}

#modalComments {
    width: 80%;
    margin-left: 15px;
}
.userprofilename {
    margin-top: 25px;
}

#icon{
    margin-left: 95%;
    color: green;
    font-size: 35px;
    z-index: -1
}
 .hide {
     display: none;
 }
  .row {
      padding-left: 8px;
  }
 #iconSection {
     display: inline;
 }

@media only screen and (max-width: 700px) {
   
}